<a href="https://colab.research.google.com/github/amal2334/Python/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**
- in this lab we will learn data types in python programming language
- data types may include values stored ,the space they take in memory and thir classification

In [ ]:
age=22
print(age)
type(age)

22

int

In [ ]:
#floating data type
height=1.75
print(height)
type(height)

1.75

float

In [ ]:
#boolean data type : True and False ar boolean variables
is_student=True
print(is_student)
type(is_student)

a=10
b=10
print(a==b)

True
True

In [ ]:
#string data type
name="ahmed"
print(name)
type(name)

ahmed

str

In [ ]:
#common errors
#result="hello"+5
#we can not concatenate strings with integers
result="hello"+str(5)
print(result)

result=int("5")+5
print(result)

hello5
10