<a href="https://colab.research.google.com/github/amal2334/Python/blob/main/dictionoaries_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries are unordered colections of items , they store data in format of key value type , the keys should be unique and immutable , while values can be of nay type .

In [ ]:
empty_dict=dict()
empty_dict

{}

In [ ]:
student ={"name": "amal" , "age": 20, "gender": "male"}
student

{'name': 'amal', 'age': 20, 'gender': 'male'}

In [ ]:
student ={"name": "amal" , "age": 20, "name": "male"}
student
#we have two keys age and name  , we redefine the the key name , the value got replace sby thr last name which is male

{'name': 'male', 'age': 20}

In [ ]:
#accessing dictionaries elements
student ={"name": "amal" , "age": 20, "gender": "male"}
print(student['name'])
print(student['age'])

amal
20

In [ ]:
#access the values using the gest methods provided by the dictionary data structure
print(student.get('name'))
print(student.get('age'))
print(student.get('last_name'))

# when there is no key in the dictinart , it gives us none
print(student.get('last_name','not found'))

amal
20
None
not found

In [ ]:
#modifiying dictionary elements
#dictionart are mutable , so you can add , update or delete elemenst
print(student)

{'name': 'amal', 'age': 20, 'gender': 'male'}

In [ ]:
student['name']="chaymae"
print(student)
student["adress"]=" morocco "
print(student)

{'name': 'chaymae', 'age': 20, 'gender': 'male'}
{'name': 'chaymae', 'age': 20, 'gender': 'male', 'adress': ' morocco '}

In [ ]:
del student['age']
print(student)

{'name': 'chaymae', 'gender': 'male', 'adress': ' morocco '}

In [ ]:
# common dictionary methods
keys=student .keys()
print(keys)
values =student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'gender', 'adress'])
dict_values(['chaymae', 'male', ' morocco '])
dict_items([('name', 'chaymae'), ('gender', 'male'), ('adress', ' morocco ')])

In [ ]:
# shallow copy
student_copy=student.copy()
print(student_copy)

student_copy2=student
print(student_copy2)
student_copy['name']='amal'
student_copy2['name']='amal'
print(student_copy)
print(student_copy2)
student['name']='riad'
print(student)
print(student_copy)
print(student_copy2)

{'name': 'amal', 'gender': 'male', 'adress': ' morocco '}
{'name': 'amal', 'gender': 'male', 'adress': ' morocco '}
{'name': 'amal', 'gender': 'male', 'adress': ' morocco '}
{'name': 'amal', 'gender': 'male', 'adress': ' morocco '}
{'name': 'riad', 'gender': 'male', 'adress': ' morocco '}
{'name': 'amal', 'gender': 'male', 'adress': ' morocco '}
{'name': 'riad', 'gender': 'male', 'adress': ' morocco '}

In [ ]:
#iterating over dictionaries
#you can use loops to iterate items ,keys ,values
for key in student :
  print(key)

name
gender
adress

In [ ]:
for key in student :
  print(student[key])

riad
male
 morocco

In [ ]:
#iterate over key value pais
for key,value in student.items():
  print(f"{key},{value}")

name,riad
gender,male
adress, morocco

In [ ]:
#nested dictionaries
#nosql databases (mongo db)
student ={
    "student1":{"name": "amal" , "age": 20, "gender": "male"},
    "student2":{"name": "chaymae" , "age": 22, "gender": "female"},
    "student3":{"name": "riad" , "age":33, "gender": "male"}
}
print(student)
print(student['student1'])
print(student['student1']['name'])

{'student1': {'name': 'amal', 'age': 20, 'gender': 'male'}, 'student2': {'name': 'chaymae', 'age': 22, 'gender': 'female'}, 'student3': {'name': 'riad', 'age': 33, 'gender': 'male'}}
{'name': 'amal', 'age': 20, 'gender': 'male'}
amal

In [ ]:
#iterating over nested dictionaries
for student_id,student_info in student.items():
    print(f"Student ID: {student_id}")
    print(f"Name: {student_info['name']}")
    print(f"Age: {student_info['age']}")

Student ID: student1
Name: amal
Age: 20
Student ID: student2
Name: chaymae
Age: 22
Student ID: student3
Name: riad
Age: 33

In [ ]:
#dictionary comprehension
#what is the specific square of a number between two numbers
squares={x:x**2 for x in range(1,11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#squares of only even numbers
even_squares={x:x**2 for x in range(1,11) if x%2==0}
print(even_squares)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
odd_squares ={x:x**2 for x in range (1,11) if x%2!=0}
print(odd_squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
#use a dictionart ti count the frequency of elemts in the list
numbers=[1,2,3,3,5,8,9,8,8,9]
frequency={}
for num in numbers:
    if num in frequency:
        frequency[num]+=1
    else:
        frequency[num]=1
print(frequency)

{1: 1, 2: 1, 3: 2, 5: 1, 8: 3, 9: 2}

In [ ]:
#merge 2 dictionaries into one
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict3={**dict1,**dict2}
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}