<a href="https://colab.research.google.com/github/amal2334/Python/blob/main/lambda_map_filter_function_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- lambda function are small anonymous functions defines using the lamdba keyword
- they can have any number of arguments but only one expressiom
- they are commonly used for short operation or as arguments to higher -ordere function

# **1-lambda function**

In [ ]:
# syntax:lambda argument: expression

In [ ]:
def addition (a,b):
  return a+b

addition (5,6)

11

In [ ]:
addition=lambda a,b :a+b
type(addition)

function

In [ ]:
addition(12,14)

26

In [ ]:
def even(num):
  if num%2==0:
    return True
  else:
    return False

In [ ]:
even(2)

True

In [ ]:
even(13)

False

In [ ]:
even1=lambda num:num%2==0
type(even1)

function

In [ ]:
even1(2)

True

In [ ]:
def addition (x, y, z):
  return x+y+z

addition (2,3,4)

9

In [ ]:
addition=lambda x,y,z:x+y+z
type(addition)
addition(2,3,4)

9

In [ ]:
## map () applies a function to all items in a list
numbers=[1,2,3,4,5,6]
def square (number):
  return number**2

square(2)

#to get the square of one varianle is possible
# to get the square of  alist of number we have two approches ; 1-loop iteration
#2-map function

list_numbers=[1,2,6,8,7]
def square1 (list_number):
  for i in list_number:
    print(i**2)


square1(list_numbers)

1
4
36
64
49

In [ ]:
# second method to calculate the square of the list of number
list(map(lambda num:num**2,list_numbers))

[1, 4, 36, 64, 49]

# **map**
- map () function applies a given function to all items in an input list (or any other iterable ) and returns a map obkect (an iterator) .this is particurarly useful for transforming data in a list comprehension.

In [ ]:
def square (x):
  return x*x

square(2)

4

In [ ]:
numbers=[1,2,3,4,5,6,8]
# i wnat to applt the same function to this list
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 64]

In [ ]:
#lambda function
numbers=[1,2,3,4,5,6,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 64]

In [ ]:
#can we map multiple iterbales
numbers1=[1,2,3]
numbers2=[4,5,6]
list(map(lambda x,y:x+y,numbers1,numbers2))

[5, 7, 9]

In [ ]:
words=['apple','banana','cherry']
uper_words=list(map(lambda x:str.upper(x),words))
uper_words

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
  return person['name']

people=[{'name':'Alice','age':30},
 {'name':'Bob','age':25},
  {'name':'Charlie','age':35}]
names=list(map(get_name,people))
names

['Alice', 'Bob', 'Charlie']

# **filter function**
- the filter function contrusts an iterator for elemeents of an iterable for which a fucntion returns true, it is used to filter out items from a list (or any other iterable) based on a condition.

In [ ]:
def even(num):
  if num%2==0:
    return True

even(24)

True

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_5=set(filter(lambda num:num>5,numbers))
print(greater_than_5)

{8, 9, 6, 7}

In [ ]:
#filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_5=set(filter(lambda num:num>5 and num%2==0,numbers))
print(even_and_greater_than_5)

{8, 6}

In [ ]:
people=[
    {'name':'Alice','age':30},
    {'name':'Bob','age':25},
    {'name':'Charlie','age':35},
    {'name':'David','age':28}
]

def age_greater_than_30(person):
  return person['age']>30

(filter(age_greater_than_30,people))

TypeError: unhashable type: 'dict'