<a href="https://colab.research.google.com/github/amal2334/Python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**:
- in this lab ,we are going to see loops in python:
  - Introduction to loops
  - For loop
    - Iteration over a range
    - Iterating over a string

  - While loop:
  - loop control statments:
    - Break
    - continue
    - pass
  - Nested loops
  -Practial examplesa and common errors

In [ ]:
#for loop :iretae ober a string of number

range (10)

range(0, 10)

In [ ]:
for i in range (10):
  print(i)

  #the number are listed from 0 to 9 ,10 is not included

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (1,10):
  print(i)
  #we are starting from 1 to 10

1
2
3
4
5
6
7
8
9

In [ ]:
range (1,10,1) #start ,end ,step
for i in range (1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
# now we are going to iterate over strings
#a  string is a collection of characters

str="amal"
for  i in str :
  print(i)

a
m
a
l

In [ ]:
#while loop
#a while loop continues to execute as long as the condition is true
count =0
while count <5:
  print(count)
  count +=1   # this called incrmentation ,kust like count =count+1

0
1
2
3
4

In [ ]:
count=0
while count %2==0:
  print(count)
  count +=1

0

In [ ]:
#loop control statments
#break statment exits the loop prematurely

for i in range (10):
  if i==5:
    break
  print(i)

  #when the loop reaches the 5 it get out from the loop

0
1
2
3
4

In [ ]:
#contine
#the continue statment skips the current iteration andcontinues with the next itertion
for i in range (10):
  if i%2==0:
    continue
  print(i)

  #we are skipping the even numbers

1
3
5
7
9

In [ ]:
#pass
# the pass statement is a null operation ,it does nothing

for i in range(5):
  if i==3:
    pass
    print("pass executed")
  print(i)

0
1
2
pass executed
3
4

In [ ]:
#nested loops
# a loop inside  a loop
for i in range (3):
  for j in range (2):
    print(f"i={i},j={j}")

i=0,j=0
i=0,j=1
i=1,j=0
i=1,j=1
i=2,j=0
i=2,j=1

In [ ]:
#examples - calculate the sum of the first n natural numbers using a while loop and a for loop
n=10
sum=0
i=1
while i<=n:
  sum=sum+ i
  i+=1
print("the sum of the first  10 nutural numbers :",sum)

the sum of the first  10 nutural numbers : 55

In [ ]:
n=10
sum=0
for i in range(11):
  sum=sum+i

print("the sum of the first  10 nutural numbers :",sum)

the sum of the first  10 nutural numbers : 55

In [ ]:
for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#let's try to build now  a data structure
frame={'id':50,'name':'amal','age':20}
print(frame)
frame.keys()
frame.values()
frame.items()
#let 'get the value where item keyu equal 50
frame.get('id')
frame.get('name')

{'id': 50, 'name': 'amal', 'age': 20}

'amal'

In [ ]:
import pandas as pd
df=pd.DataFrame(frame,index=[0])
print(df)
df
df.describe()
df.info()
df.head()
df.tail()
#let us print the correlation
corre=df[['age','id']]
correlation=corre.corr()
print(correlation)

df.isnull().sum()

   id  name  age
0  50  amal   20
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1 non-null      int64
 1   name    1 non-null      object
 2   age     1 non-null      int64
dtypes: int64(2), object(1)
memory usage: 32.0+ bytes
     age  id
age  NaN NaN
id   NaN NaN

id      0
name    0
age     0
dtype: int64

# **Conclusion**:
- loops are very powerful in python ,they allow you to execute a block of code multiple times

In [ ]:
#we will cretae alist
list=[2,2,'amal',50,True]
print(list)
list.append(5)
print(list)

[2, 2, 'amal', 50, True]
[2, 2, 'amal', 50, True, 5]