<a href="https://colab.research.google.com/github/amal2334/Python/blob/main/sets_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-In this notebook ,we will learn how to define sets .and use them in coding examples
-sets is  a type data structure
-sets they can't have duplicate values

In [ ]:
#creating sets
my_set={1,2,5,7}
print(my_set)

{1, 2, 5, 7}

In [ ]:
my_empty_set=set([4,6,7,9])
print(my_empty_set)

{9, 4, 6, 7}

In [ ]:
#basis sets operation
#adding and removing elements
my_set.add(10)
print(my_set)


my_set.add(10)
print(my_set)

my_set.remove(10)
print(my_set)

{1, 2, 5, 10}
{1, 2, 5, 10}
{1, 2, 5}

In [ ]:
#remove an element if it is  amenber in the set ,otherwise don't generate any error message
my_set.discard(10)
print(my_set)

{1, 2, 5}

In [ ]:
removed_element=my_set.pop()
print(removed_element)
print(my_set)

2
{5}

In [ ]:
#clear all the elements in the set
my_set.clear()
print(my_set)

set()

In [ ]:
#set membership test
my_set={1,2,3,4,5}
print(1 in my_set)
print(6 in my_set)

True
False

In [ ]:
#mathematical operation on sets
set1={1,2,3,4,5}
set2={4,5,6,7,8}

#union of two sets
union_set=set1.union(set2)
print(union_set)
#intersection of two set s
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)


#deffirence operation on set
deffrence_set=set1.difference(set2)
print(deffrence_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
set()

In [ ]:
set2.difference(set1)

{6, 7, 8}

In [ ]:
set1.symmetric_difference(set2)

{6, 7, 8}

In [ ]:
#sets methods
set1={1,2,3,4,5}
set2={1,2,3,4,5,6,7,8}

#is subset
print(set1.issubset(set2))
#all the elements is set1 are all available in set2
#is superset
print(set1.issuperset(set2))
#all the elements is set2 are all available in set1

#is disjoint
print(set1.isdisjoint(set2))

True
False
False

In [ ]:
list=[1,2,6,5,8,9,2,6]
set(list)
#it removes the duplicate values in the list
text="in this  tutorial we are learning about sets"
words=text.split()
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'this', 'learning', 'in', 'tutorial', 'sets', 'we', 'about', 'are'}
8